---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { ARTICLES } from "@consts";

const projects = (await getCollection("articles"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

---

<PageLayout title={ARTICLES.TITLE} description={ARTICLES.DESCRIPTION}>
  <Container>
    <div class="space-y-16">
      <div class="text-center">
        <h1 class="animate text-5xl font-bold bg-gradient-to-r from-blue-600 via-purple-600 to-indigo-600 bg-clip-text text-transparent mb-4">
          ARTICLES
        </h1>
      </div>
      <div class="grid gap-6">
        {
          projects.map((project) => (
            <div class="animate">
              <ArrowCard entry={project}/>
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</PageLayout>
